<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span> Siga-mes disponíveis </span>
        </mat-toolbar>

        <div class="mat-elevation-z8">
            <app-siga-me-list *ngIf="dataSource$ | async as sigaMe; else elseBlock" [sigaMeList]="sigaMe"
                (eventList)="onAdd()"></app-siga-me-list>
            <ng-template #elseBlock>
                <div class="load-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>